<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @person.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>University:</strong>
  <%= @person.university %>
</p>

<p>
  <strong>Score:</strong>
  <%= @person.score %>
</p>

<p>
  <strong>Rounds:</strong>
  <%= @person.rounds %>
</p>

<p>
  <strong>Quotes:</strong>
  <%= @person.quotes %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
