<h1 class="page-header">Added <%= @people.size %> people</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>University</th>
    <th>Score</th>
    <th>Rounds</th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
      <tr>
        <td><%= "#{person.first_name} #{person.last_name}" %></td>
        <td><%= link_to '<login>', dev_login_path(id: person.id) %></td>
        <td><%= person.university %></td>
        <td><%= person.score %></td>
        <td><%= person.rounds %></td>
      </tr>
  <% end %>
  </tbody>
</table>
