data = {
    labels : <%= @qlength.inspect %>,
    datasets : [
        {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : <%= @qlength.inspect %>
        }
    ]
};

$("#canvasd").empty();
$("#canvasd").append('<canvas id="canvas"></canvas>');


chart = new Chart($("#canvas").get(0).getContext("2d")).Line(data);