<% @header = t 'vk_image.header' %>

<ol class="breadcrumb">
  <li><%= link_to 'Все фото', action: :albums %></li>
  <li class="active"><%= @album_title %></li>
</ol>

<div class="row">
  <% strips = 3 %>
  <% strips.times do |s| %>
      <div class="col-xs-<%= 12 / strips %>">
        <% pic = s %>
        <% while (photo = @photos[pic]).present? %>
            <%= link_to options={ action: :show, album_id: @album_id, album_title: @album_title, photo_id: photo.pid } do %>
                <%= image_tag Person.image_from_hash(photo, 500, fix: true), html_options={class: 'img-responsive rounded'} %>
            <% end %>
            <br>
            <% pic += strips %>
        <% end %>
      </div>
  <% end %>
</div>

<nav>
  <ul class="pager">
    <li class="previous">
      <%= link_to action: :albums do %>
        <span aria-hidden="true">&larr;</span> Назад
      <% end %>
    </li>
  </ul>
</nav>

<pre><%= @photos.inspect %></pre>
