<% @header = 'Dev - login' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Login</th>
      <th>University</th>
      <th>Score</th>
      <th>Rounds</th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= "#{person.first_name} #{person.last_name}" %></td>
        <td><%= link_to '<login>', action: :dev_login, id: person.id %></td>
        <td><%= person.university %></td>
        <td><%= person.score %></td>
        <td><%= person.rounds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
