// Place all the styles related to the vk_image controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 100%;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
}

.album {
  position:relative;
}