<div class='btn-toolbar pull-right'>
  <div class='btn-group'>
    <%= link_to person.first_name,     root_path,    type: 'button', class: "btn btn-primary #{'active' if current_page?(root_path) }" %>
    <%= link_to (t 'navbar.vote'), vote_path,    type: 'button', class: "btn btn-primary #{'active' if current_page?(vote_path) }" %>
    <%= link_to (t 'navbar.top'),  results_path, type: 'button', class: "btn btn-primary #{'active' if current_page?(results_path) }" %>
  </div>
</div>

